{% extends "admin/index.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block content1 %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 100px;">
            <div class="x_panel">
                <div class="x_title">
                    {% if not is_popup %}
                    {% block breadcrumbs %}
                    <h2>{% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
                    &rsaquo; <small>{% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}</small></h2>

                    {% endblock %}
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    {% block extrahead %}{{ block.super }}
                    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
                    {{ media }}
                    {% endblock %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{#{% block coltype %}colM{% endblock %}#}
                    <div class = "change-style">
                    {% block bodyclass %}&nbsp;{% endblock %}
                    {% block content %}<div id="content-main">
                    {% block object-tools %}
                    {% if change %}{% if not is_popup %}
                      <ul class="object-tools">
                        {% block object-tools-items %}
                        <li>
                            {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
                            <a href="{% add_preserved_filters history_url %}" class="historylink pull-right btn-xs btn-info">{% trans "History" %}</a>
                        </li>
                        {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
                        {% endblock %}
                      </ul>
                    {% endif %}{% endif %}
                    {% endblock %}


                    <form class = "form-style" {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate style="width: 100%;">{% csrf_token %}{% block form_top %}{% endblock %}
                    <div class="row">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                    {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
                    {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
                    {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
                    {% if errors %}
                        <p class="errornote alert alert-danger">
                        {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                        </p>
                        {{ adminform.form.non_field_errors }}
                    {% endif %}

                    {% block field_sets %}
                    {% for fieldset in adminform %}
                      {% include "admin/includes/fieldset.html" %}
                    {% endfor %}
                    {% endblock %}
                    {% block after_field_sets %}{% endblock %}

                    {% block inline_field_sets %}
                    {% for inline_admin_formset in inline_admin_formsets %}
                        {% include inline_admin_formset.opts.template %}
                    {% endfor %}
                    {% endblock %}

                    {% block after_related_objects %}{% endblock %}
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12" >
                        <!-- <div style="background: #fff; margin-left: 10px; border-radius: 5px; border: 1px solid #dddddd"> -->
                        {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}
                        <!-- </div> -->
                    </div>
                    {% block admin_change_form_document_ready %}
                        <script type="text/javascript">
                            (function($) {
                                $(document).ready(function() {
                                    $('.add-another').click(function(e) {
                                        e.preventDefault();
                                        var event = $.Event('django:add-another-related');
                                        $(this).trigger(event);
                                        if (!event.isDefaultPrevented()) {
                                            showAddAnotherPopup(this);
                                        }
                                    });
                                    $('.related-lookup').click(function(e) {
                                        e.preventDefault();
                                        var event = $.Event('django:lookup-related');
                                        $(this).trigger(event);
                                        if (!event.isDefaultPrevented()) {
                                            showRelatedObjectLookupPopup(this);
                                        }
                                    });
                                    $('body').on('click', '.related-widget-wrapper-link', function(e) {
                                        e.preventDefault();
                                        if (this.href) {
                                            var event = $.Event('django:show-related', {href: this.href});
                                            $(this).trigger(event);
                                            if (!event.isDefaultPrevented()) {
                                                showRelatedObjectPopup(this);
                                            }
                                        }
                                    });
                                    $('body').on('change', '.related-widget-wrapper select', function(e) {
                                        var event = $.Event('django:update-related');
                                        $(this).trigger(event);
                                        if (!event.isDefaultPrevented()) {
                                            updateRelatedObjectLinks(this);
                                        }
                                    });
                                    $('.related-widget-wrapper select').trigger('change');

                                {% if adminform and add %}
                                    $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
                                {% endif %}
                                });
                            })(django.jQuery);
                        </script>
                    {% endblock %}

                     <!-- JavaScript for prepopulated fields -->
                    {% prepopulated_fields_js %}

                    </div>
                    </form></div>
                    {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
<style>

li{
    list-style: none;
}

.btn-custom {
    display: inline-block;
    padding: 4px 12px;
    width: 140px;
    height: 50px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;
    white-space: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
    background-repeat: repeat-x;
    border-width: 1px;
    border-style: solid;
    overflow: justify;
    border-color: #CCC #CCC #B3B3B3;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 4px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-info {
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: #49AFCD;
    background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-default{
    padding: 10px;
}
.btn-danger{
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: #49AFCD;
    background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.clockbox h2{
    border-bottom: 1px solid #ddd;
}
.clockbox{
    -webkit-box-shadow: 0px 0px 5px 0px #999;
    -moz-box-shadow: 0px 0px 5px 0px #999;
    box-shadow: 0px 0px 5px 0px #999;
    border-radius: 5px;
    padding: 2px;
}

.calendar{
    -webkit-box-shadow: 0px 0px 5px 0px #999;
    -moz-box-shadow: 0px 0px 5px 0px #999;
    box-shadow: 0px 0px 5px 0px #999;
    border-radius: 5px;
    padding: 2px;
}
</style>
{% endblock %}

