<!DOCTYPE html>
<html lang="en">
{% load static from staticfiles %}
{% load i18n admin_static %}
{% load base_extras %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CNSA | </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "fonts/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/animate.min.css" %}" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/maps/jquery-jvectormap-2.0.1.css" %}" />
    <link href= "{% static "css/icheck/flat/green.css" %}" rel="stylesheet" />
    <link href="{% static "css/floatexamples.css" %}" rel="stylesheet" type="text/css" />


    <link rel="stylesheet" type="text/css" href="{% static "public/bootstrap/select/css/bootstrap-select.min.css" %}">
    <!--link rel="stylesheet" type="text/css" href="{% static "public/css.css" %}"-->
    <!--<link rel="stylesheet" type="text/css" href="{% static "public/demo.css" %}">-->
    <link rel="stylesheet" type="text/css" href="{% static "public/footer-basic-centered.css" %}">
    <script src="{% static "public/bootstrap/dist/css/bootstrap-theme.min.css" %}"></script>
        <script src="{% static "public/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "public/bootstrap/select/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "public/jquery/datamaking.js" %}"></script>

    <script src="{% static "public/leaflet/leaflet.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "public/leaflet/leaflet.css" %}">


    <script src="{% static "public/bootstrap/dist/js/Chart.js" %}"></script>
    <script src="{% static "public/jquery/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "public/bootstrap/js/graphe.js" %}"></script>

    <!--<script src="{% static "js/jquery.min.js" %}"></script>-->
    <script src="{% static "js/nprogress.js" %}"></script>

    <script>
        NProgress.start();
    </script>
    <style type="text/css">
        .tile-stats h3{
            font-size: 1.2em;
        }
    </style>
    
    <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>
<!-- #################################### -->

    <style>
        #Map {
        width: 100%;
        min-height: 400px;
        }

        .awesome-marker i {
            font-size: 12px !important;
            margin-top: 8px;
        }

        .infoBulle ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .infoBulle li {
            margin: 1px 0;
            padding: 5px 2px;
            border-bottom: 1px solid rgb(240,240,240);
        }

        #Filter {
            position: fixed;
            top: 70px;
            right: 10%;
            z-index: 999;
            opacity: .5;
            background-color: rgba(255,255,255,.5);
            padding: 5px;
            border-radius: 5px;
        }

        #Filter .selectAll {
            display: none;
        }

        #Filter:hover {
            opacity: 1;
        }

        #Filter:hover .selectAll {
            display: inline;
        }

        #Filter .btn {
            cursor: pointer;
        }

        #Legend {
            background-color: rgb(250,250,250);
            padding: 10px;
        }


    </style>

<!-- ################################### -->

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            {% block menu %}
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/admin/" class="site_title"><span>CNSA Admin</span></a>
                    </div>
                    <div class="clearfix"></div>

                    <!-- menu prile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="{% static "public/img/logoMenu.png" %}" alt="..." class="img-circle profile_img" style="background: none;">
                        </div>
                        <div class="profile_info">
{#                            <span>Welcome,</span>#}
{#                            <h2>Anthony Fernando</h2>#}
                            {% block welcome-msg %}
                                {% trans 'Welcome,' %}
                                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
                            {% endblock %}

                        </div>
                    </div>
                    <!-- /menu prile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="/admin/"><i class="fa fa-home"></i>Dashboard</a>
                                </li>
                                <li><a><i class="fa fa-bar-chart-o"></i> Report </a></li>
{#                                <li><a><i class="fa fa-edit"></i> Forms <span class="fa fa-chevron-down"></span></a></li>#}

                                    {% if app_list %}
                                        {% for app in app_list %}
{#                                            <div class="app-{{ app.app_label }} module">#}
{#                                            <a><i class="fa fa-edit"></i> Forms <span class="fa fa-chevron-down"></span></a>#}
{#                                                <a><i class="fa fa-edit"></i> Application Name <span class="fa fa-chevron-down"></span></a>#}
                                                   <li><a title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}"><i class="fa fa-edit"></i>{{ app.name }}<span class="fa fa-chevron-down"></span></a>
                                                        <ul class="nav child_menu" style="display: none">
                                                             {% for model in app.models %}
                                                                <tr class="model-{{ model.object_name|lower }}">
                                                                {% if model.admin_url %}
                                                                    <li><a href="{{ model.admin_url }}">{{ model.name }}</a>
                                                                    </li>
                                                                {% else %}
                                                                    <li>{{ model.name }}</li>
                                                                {% endif %}

                                                                </tr>
                                                            {% endfor %}
                                                        </ul>
                                                   </li>
                                        {% endfor %}

                                        {% else %}
                                        <li><a><i class="fa fa-edit"></i>Structure de base<span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu" style="display: none">
                                                    <li><a href="/admin/base/departement/">Departements</a>
                                                    </li>
                                                    <li><a href="/admin/base/commune/">Communes</a>
                                                    </li>
                                                    <li><a href="/admin/base/sectioncommunale/">Section communales</a>
                                                    </li>
                                                    <li><a href="/admin/base/sitesentinelle/">Sites sentinnelles</a>
                                                    </li>
                                                    <li><a href="/admin/base/poste/">Postes</a>
                                                    </li>
                                                    <li><a href="/admin/base/personnecontact/">Personne contacts</a>
                                                    </li>
                                                </ul>
                                          </li>
                                          <li><a><i class="fa fa-edit"></i>Collecte Pluviometrique<span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu" style="display: none">
                                                    <li><a href="/admin/hydromet/typestation/">Type station pluviometrique</a>
                                                    </li>
                                                    <li><a href="/admin/hydromet/log/">Log</a>
                                                    </li>
                                                    <li><a href="/admin/hydromet/station/">Station pluviometriques</a>
                                                    </li>
                                                    <li><a href="/admin/hydromet/observation/">Observation pluviometriques</a>
                                                    </li>
                                                    <li><a href="/admin/hydromet/unitedemesure/">Unite de mesures</a>
                                                    </li>
                                                    <li><a href="/admin/hydromet/stationobservers/">Station observers</a>
                                                    </li>

                                                </ul>
                                          </li>
                                          <li><a><i class="fa fa-edit"></i>Autorisation<span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu" style="display: none">
                                                    <li><a href="/admin/auth/group/">Groupes</a>
                                                    </li>
                                                    <li><a href="/admin/auth/user/">Utilisateurs</a>
                                                    </li>
                                                </ul>
                                          </li>
                                    {% endif %}
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->

                    <!-- /menu footer buttons -->
                    <!-- <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
 -->                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">

                <div class="nav_menu">

                    <nav class="" role="navigation">
                        <div class="nav toggle">

                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="{% static "public/img/logoMenu.png" %}" alt="">{% firstof user.get_short_name user.get_username %}
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                    <li>
                                        {% if user.has_usable_password %}
                                            <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a>
                                        {% endif %}
                                    </li>
{#                                    <li>#}
{#                                        <a href="javascript:;">#}
{#                                            <span class="badge bg-red pull-right">50%</span>#}
{#                                            <span>Settings</span>#}
{#                                        </a>#}
{#                                    </li>#}
                                    <li>
                                        <a href="javascript:;">A propos</a>
                                    </li>
                                    <li>
                                        {% if site_url %}
                                            <a href="{{ site_url }}">{% trans "Aller a l'espace public" %}</a>
                                        {% endif %}
                                    </li>
                                    <li>
                                        <!-- Log out for the application -->
                                        <a href="{% url 'admin:logout' %}"><i class="fa fa-sign-out pull-right"></i>{% trans 'Log out' %}</a>
                                    </li>
                                </ul>
                            </li>

                            <!-- <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <!-- <span class="badge bg-green">6</span> -->
                                <!--</a>
                            </li>  -->

                        </ul>
                    </nav>
                </div>

            </div>
        {% endblock %}
            <!-- /top navigation -->


            <!-- page content -->

            <div class="right_col" role="main">
                {% block content1 %}
                <div class="row top_tiles">
                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="tile-stats">
                                <div class="icon" >
                                <i class="fa fa-users"></i>
                                <!-- <img src="images/pluie.jpeg"/> -->
                                </div>
                                <div class="count">{{ "nbAgent"|notification }}</div>

                                <h3>{% if "nbAgent"|notification < '2' %} Agent inactif {% else %} Agents inactifs {% endif %}</h3>
                                <p>Observateur</p>
                            </div>
                        </div>
                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="tile-stats">
                                <div class="icon"><i class="fa fa-envelope"></i></i>
                                </div>
                                <div class="count">{{ "msgNotValidate"|notification }}</div>

                                <h3>Message non valide</h3>
                                <p>Observation pluviometrique</p>
                            </div>
                        </div><!-- personNotSentMsg -->
                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="tile-stats">
                                <div class="icon"><i class="fa fa-sort-amount-desc"></i>
                                </div>
                                <div class="count">{{ "personNotSentMsg"|notification }}</div>

                                <h3>{% if "personNotSentMsg"|notification < '2' %}Agent n'a pas envoye{% else %} Agents n'ont pas envoyes{% endif %}</h3>
                                <p>Observation pluviometrique</p>
                            </div>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="dashboard_graph">

                            <div class="row x_title">
                                <div class="col-md-6">
                                    <h4>Graphe</h4>
                                </div>
                                <div class="col-md-6">
                                    <!-- <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                        <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                                    </div> -->
                                </div>
                            </div>

                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
                                <div style="width: 100%;">
                                   <!-- <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;"></div> -->
                                    <div id="sectionA" class="tab-pane fade in active">
                                        <h2 class="sub-header">Graphe des donnees pluviometriques enregistrees</h2>
                                        <div class="table-responsive">
                                            <canvas id="canvas" width="720" height="300"></canvas>
                                        </div>
                                    </div>
                                    {% comment %}
                                        {% include "public/include/graphe.html" %}
                                        {% include "public/include/carte.html" %}
                                   {% endcomment %}
                                    <script type="text/javascript">
                                        // var canvas = document.getElementById('canvas');
                                        // canvas.height = 300;
                                        // canvas.width = 720;
                                    </script>
                                </div>
                            </div>
                                
                            <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                                <div class="x_title">
                                    <h2>{% trans 'Recent Actions' %}<small>{% trans 'My Actions' %}</small></h2>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-6">
                                    {% load log %}
                                    {% get_admin_log 10 as admin_log for_user user %}
                                    {% if not admin_log %}
                                    <p>{% trans 'None available' %}</p>
                                    {% else %}
                                    <ul class="actionlist" style="background: #EEEEEE; padding: 2px; overflow-y: scroll; height: 300px;">
                                    {% for entry in admin_log %}
                                    <li style="list-style: none; background: #fff; margin-bottom: 5px; padding: 10px 0px 10px 10px
                                    ;" class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                                        {% if entry.content_type %}
                                            {% if entry.is_addition %}
                                                <span class="glyphicon glyphicon-plus" style="color: #00C365"> {% trans "Add" %} </span><span class="mini quiet" style="color: #00C365"> {% filter capfirst %}{{ entry.content_type }} {% endfilter %}</span>|
                                            {% endif %}
                                            {% if entry.is_change %}
                                                <span class="glyphicon glyphicon-edit" style="color: #38C0DA"> {% trans "Change" %} </span><span class="mini quiet" style="color: #38C0DA"> {% filter capfirst %}{{ entry.content_type }} {% endfilter %}</span>|
                                            {% endif %}
                                            {% if entry.is_deletion %}
                                                <span class="glyphicon glyphicon-trash" style="color: #E93B54"> {% trans "Delete" %} </span><span class="mini quiet" style="color: #E93B54"> {% filter capfirst %}{{ entry.content_type }} {% endfilter %}</span>|
                                            {% endif %}
                                        {% else %}
                                            <span class="mini quiet">{% trans 'Unknown content' %}</span>
                                        {% endif %}
                                        {% if entry.is_deletion or not entry.get_admin_url %}
                                            {{ entry.object_repr }}
                                        {% else %}
                                            <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>


                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
                <br />

                <div class="row">

                        <!-- <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="x_panel tile fixed_height_320">
                                <div class="x_title">
                                    <h2>Departement</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <h4>.....</h4>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="col-md-8 col-sm-8 col-xs-12"> -->
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Carte des enregistrements pluviometrique <small>geo-presentation</small></h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div class="dashboard-widget-content">
                                            <!-- <div id="Filter">
                                                <select id="SelDept" class="selectpicker" data-style="btn-info" multiple title="Selectionnez au moins un Departement" data-width="300px">
                                                    <option data-hidden="true">Selectionnez au moins un Departement</option>
                                                    {% if departement_lst %}
                                                        {% for dept in departement_lst %}
                                                            <option departement selected="selected">{{ dept.departement }}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                                &nbsp;<img class="btn" src='{% static "public/leaflet/reload.png" %}' title="Recharger"><br>
                                                <span class="selectAll"><input type="checkbox" checked="checked" onchange="if( $(this).is(':checked') ) { nbrSel = 'selectAll' } else { nbrSel = 'deselectAll' } $('.selectpicker').selectpicker(nbrSel);"> Tout Selectionnez </span>
                                            </div>
 -->                                            <div id="Map"></div>
                                            <div id="Legend">
                                                <ul>
                                                    <li><img src="{% static "public/leaflet/markers/high_activity.png" %}"> Station dont les données sont <strong>à jour</strong></li>
                                                    <li><img src="{% static "public/leaflet/markers/low_activity.png" %}"> Station dont les données ont un <strong>retard de moins de 7 jours</strong></li>
                                                    <li><img src="{% static "public/leaflet/markers/no_activity.png" %}"> Station dont les données ont un <strong>retard de plus de 7 jours</strong></li>
                                                    <li><img src="{% static "public/leaflet/markers/off_activity.png" %}"> Station <strong>non en fonction</strong></li>
                                                </ul>
                                            </div>
                                         </div>
                                    </div>
                                </div>
                        </div>
                     </div>
                    </div>

                </div>
                {% endblock %}
                <!-- footer content -->
{#                {% block footer1 %}#}
{#                <footer>#}
{#                    <div class="">#}
{#                        <p class="pull-right">Gentelella Alela! a Bootstrap 3 template by <a>Kimlabs</a>. |#}
{#                            <span class="lead"> <i class="fa fa-paw"></i> Gentelella Alela!</span>#}
{#                        </p>#}
{#                    </div>#}
{#                    <div class="clearfix"></div>#}
{#                </footer>#}
{#                {% endblock %}#}
                <!-- /footer content -->

            </div>
            <!-- /page content -->

        </div>

    </div>

    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>

    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- gauge js -->
    <script type="text/javascript" src="{% static "js/gauge/gauge.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/gauge/gauge_demo.js" %}"></script>
    <!-- chart js -->
    <script src="{% static "js/chartjs/chart.min.js" %}"></script>
    <!-- bootstrap progress js -->
    <script src="{% static "js/progressbar/bootstrap-progressbar.min.js" %}"></script>
    <script src="{% static "js/nicescroll/jquery.nicescroll.min.js" %}"></script>
    <!-- icheck -->
    <script src="{% static "js/icheck/icheck.min.js" %}"></script>
    <!-- daterangepicker -->
    <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/datepicker/daterangepicker.js" %}"></script>

    <script src="{% static "js/custom.js" %}"></script>

    <!-- flot js -->
    <!--[if lte IE 8]><script type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="{% static "js/flot/jquery.flot.js" %}"></script>
    <script type="text/javascript" src="{% static "js/flot/jquery.flot.pie.js" %}"></script>
    <script type="text/javascript" src="{% static "js/flot/jquery.flot.orderBars.js" %}"></script>
    <script type="text/javascript" src="{% static "js/flot/jquery.flot.time.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/flot/date.js" %}"></script>
    <script type="text/javascript" src="{% static "js/flot/jquery.flot.spline.js" %}"></script>
    <script type="text/javascript" src="{% static "js/flot/jquery.flot.stack.js" %}"></script>
    <script type="text/javascript" src="{% static "js/flot/curvedLines.js" %}"></script>
    <script type="text/javascript" src="{% static "js/flot/jquery.flot.resize.js" %}"></script>
    
    <!-- /dashbord linegraph -->
    <!-- datepicker -->
    <script type="text/javascript">
        $(document).ready(function () {

            var cb = function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
            }

            var optionSet1 = {
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: '12/31/2015',
                dateLimit: {
                    days: 60
                },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'left',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Clear',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            };
            $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#reportrange').daterangepicker(optionSet1, cb);
            $('#reportrange').on('show.daterangepicker', function () {
                console.log("show event fired");
            });
            $('#reportrange').on('hide.daterangepicker', function () {
                console.log("hide event fired");
            });
            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
            });
            $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
                console.log("cancel event fired");
            });
            $('#options1').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
            });
            $('#options2').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
            });
            $('#destroy').click(function () {
                $('#reportrange').data('daterangepicker').remove();
            });
        });
    </script>
    <script>
        NProgress.done();
    </script>
    <!-- /datepicker -->
    <!-- /footer content -->

    <script>
        var map;
        var greenIcon;
        var orangeIcon;
        var redIcon;
        var grayIcon;
        var blueIcon;

        $('document').ready(function(){

           // $('.selectpicker').selectpicker();

            map = L.map('Map').setView([18.834610, -72.288237], 8);
            var osm = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {});
            var cartoCdn = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {});
            cartoCdn.addTo(map);

            greenIcon = L.icon({iconUrl: '{% static "public/leaflet/markers/high_activity.png" %}'});
            orangeIcon = L.icon({iconUrl: '{% static "public/leaflet/markers/low_activity.png" %}'});
            redIcon = L.icon({iconUrl: '{% static "public/leaflet/markers/no_activity.png" %}'});
            grayIcon = L.icon({iconUrl: '{% static "public/leaflet/markers/off_activity.png" %}'});

            loadStations();



    });

    function loadStations() {
        $.ajax({
            method: "GET",
            type: 'json',
            url: "/rapport/json_map/",
            data: { 'sel_dept': $('#SelDept').val() },
            success : function(data) {
                dataLen = data.stations_lst.length;

                for(var i=0; i < dataLen; i++) {

                    switch (data.stations_lst[i]['statut']) {
                        case 'high_activity':
                            zIndex = 30;
                            basicIcon = greenIcon;
                            break;
                        case 'low_activity' :
                            zIndex = 20;
                            basicIcon = orangeIcon;
                            break;
                        case 'no_activity' :
                            zIndex = 10;
                            basicIcon = redIcon;
                            break;
                        case 'off_activity' :
                        default :
                            zIndex = 0;
                            basicIcon = grayIcon;
                            break;
                    }



                    html= "<div class='infoBulle'>";
                    html += "<h4>Station "+data.stations_lst[i]['nomStation']+"</h4>";
                    html += "Date du dernier envoi : "+data.stations_lst[i]['dateUpdate'];
                    html += "<h6>Données Disponible :</h6>";
                    html += "<ul>";
                    html += "<li><img src='{% static "public/leaflet/markers/check.png" %}'> Pluviométrique : "+data.stations_lst[i]['qt']+" mm</li>";
                    html += "<li><img src='{% static "public/leaflet/markers/no_check.png" %}'> Limnimétrique : -</li>";
                    html += "<li><img src='{% static "public/leaflet/markers/no_check.png" %}'> Thermométrique : -</li>";
                    html += "</ul>";
                    html += "</div>";

                    var marker = L.marker([ data.stations_lst[i]['latitude'], data.stations_lst[i]['longitude'] ], { icon : basicIcon, zIndexOffset : zIndex, riseOnHover: true, title: data.stations_lst[i]['nomStation'], opacity: 0.8 }).addTo(map);
                    marker.bindPopup(html);

                    marker.on('mouseover', function(e) {
                        e.target.setOpacity(1);
                    }).on('mouseout', function(e) {
                        e.target.setOpacity(0.8);
                    })
                }
            }
        });

    }




    </script>
</body>

</html>