{% load admin_list %}
{% load i18n %}
<p class="paginator">
<ul class="pagination">
{% if pagination_required %}

{% for i in page_range %}
    <li>{% paginator_number cl i %}</li>
{% endfor %}

{% endif %}
<li>{% if show_all_url %}&nbsp;&nbsp;<a href="{{ show_all_url }}" class="showall">{% trans 'Show all' %}</a>{% endif %}</li>

<li><span class="label label-info badge" style="margin-left: 5px;">{{ cl.result_count }} {% if cl.result_count == 1 %}{{ cl.opts.verbose_name }}{% else %}{{ cl.opts.verbose_name_plural }}{% endif %}</span></li>
<li>{% if cl.formset and cl.result_count %}<input type="submit" name="_save" class="default" value="{% trans 'Save' %}"/>{% endif %}</li>
</ul>
</p>
<script type="text/javascript">
	
</script>