{% load i18n admin_static %}
<div class="related-widget-wrapper">
    {{ widget }}
    {% block links %}
        {% if can_change_related %}
        <a class="related-widget-wrapper-link change-related btn btn-primary btn-sm" id="change_id_{{ name }}"
            data-href-template="{{ change_related_template_url }}?{{ url_params }}"
            title="{% blocktrans %}Change selected {{ model }}{% endblocktrans %}">
            {% trans 'Change' %} <span class="glyphicon glyphicon-edit"></span>
{#            <img src="{% static 'admin/img/icon-changelink.svg' %}" alt="{% trans 'Change' %}"/>#}
        </a>
        {% endif %}
        {% if can_add_related %}
        <a class="related-widget-wrapper-link add-related btn btn-success btn-sm" id="add_id_{{ name }}"
            href="{{ add_related_url }}?{{ url_params }}"
            title="{% blocktrans %}Add another {{ model }}{% endblocktrans %}">
            {% trans 'Add' %} <span class="glyphicon glyphicon-plus"></span>
{#            <img src="{% static 'admin/img/icon-addlink.svg' %}" alt="{% trans 'Add' %}"/>#}
        </a>
        {% endif %}
        {% if can_delete_related %}
        <a class="related-widget-wrapper-link delete-related btn btn-danger btn-xs" id="delete_id_{{ name }}"
            data-href-template="{{ delete_related_template_url }}?{{ url_params }}"
            title="{% blocktrans %}Delete selected {{ model }}{% endblocktrans %}">
            {% trans 'Delete' %} <span class="glyphicon glyphicon-trash"></span>
{#            <img src="{% static 'admin/img/icon-deletelink.svg' %}" alt="{% trans 'Delete' %}"/> #}
        </a>
        {% endif %}
    {% endblock %}
</div>
<style>
    .change-related{
        margin-left: 20px;
        background: dodgerblue;
        color: #FFFFFF;

    }
</style>