<fieldset class="module aligned {{ fieldset.classes }}" style="width: 100% !important;">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            <div {% if line.errors %} class="alert alert-danger" {% endif %}>{% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}</div>
            {% for field in line %}
                <div class ="fieldset-group" {% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <p>{{ field.contents }}</p>
                        {% else %}
                            {{ field.field }}
                        {% endif %}
                    {% endif %}
                    {% if field.field.help_text %}
                        <p class="help">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
<style>

/* ######################################### */

.selector{
    width: 100%;
}
.selector-available, .selector-chosen{
    width: 40%;
}

/*.selector-available{
    background-color: #f5f5f5;
}
.selector-chosen{
    background-color: #DDD;
}*/
.selector-available select, .selector-chosen select{
    width: 100%;
    height: 100px;
    border: 1px solid #DDD;

}

.selector-filter{
    width: 100%;
    display: inline-block;
    border-top: 1px solid #DDD !important;
    border-radius: 5px 5px;
}
.selector-filter label{
    background-color: #DDD;
    background-image: linear-gradient(#fff, #DDD);
    border: 1px solid #DDD;
    padding: 7px 10px 10px 10px !important;
    width: 35px !important;
    height: 35px;
    border-radius: 5px 0px 0px 5px;
}
.selector-filter input{
    /*background: yellow;*/
    width: 80% !important;

}
/* #################################### */



.fieldset-group div{
        display: inline-block;
        position: relative;
    }
.fieldset-group input{
    width: 50%;
    height: 35px;
}
.fieldset-group input[type="checkbox"]{
    width: 20px;
    height: 10px;
}


.fieldset-group input:focus, .fieldset-group textarea:focus{
  outline: none;
  color: #525864;
  border-color: #84c0ee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
}

/*.fieldset-group p input{
    margin-left: 55px;
}*/
.fieldset-group input, .fieldset-group textarea{
    background: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
    -webkit-box-shadow: inset 0 1px 1px rgba(100, 100, 100, 0.25), 0 1px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: inset 0 1px 1px rgba(100, 100, 100, 0.25), 0 1px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 1px 1px rgba(100, 100, 100, 0.25), 0 1px rgba(255, 255, 255, 0.4);

}


/*.selector div{
    width: 100%;
    padding: 5px;
    background: #DDD;
}*/

/*.selector div select{
    height: 50px;
    width: 120px;
}*/

.fieldset-group{
    margin-bottom: 10px;
}
/*.fieldset-group p input{
    margin-bottom: 10px;
}*/
</style>
</fieldset>


