<div id="section" class="tab-pane fade">
    <h2 class="sub-header">Carte des enregistrements pluviom&eacute;triques</h2>
    <div class="table-responsive" id="tablo">

    </div>
    <div class="panel-group submen">
        <div class="panel panel-default">
            <a class="list-group-item" data-toggle="collapse" href="#dep2">
                D&eacute;partements
            </a>
            <div class="panel-collapse collapse" id="dep2">
                <div class="panel-body">
                    <a href="#" class="list-group-item">Nord</a>
                    <a href="#" class="list-group-item">Sud</a>
                    <a href="#" class="list-group-item">Est</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
                <a class="list-group-item" data-toggle="collapse" href="#com2">
                Communes
                 </a>
            <div class="panel-collapse collapse" id="com2">
                <div class="panel-body">
                    <a href="#" class="list-group-item">1</a>
                    <a href="#" class="list-group-item">2</a>
                    <a href="#" class="list-group-item">3</a>
                </div>
            </div>
        </div>
    </div>
</div>