{% load staticfiles %}

<title>Rapport</title>
<link rel="stylesheet" type="text/css" href="{% static "public/bootstrap/dist/css/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "public/css.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "public/demo.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "public/footer-basic-centered.css" %}">
<script src="{% static "public/bootstrap/dist/js/Chart.js" %}"></script>
<script src="{% static "bootstrap/dist/css/bootstrap-theme.min.css" %}"></script>
<script src="{% static "public/jquery/jquery-1.11.3.min.js" %}"></script>
<script src="{% static "public/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "public/bootstrap/js/graphe.js" %}"></script>
<script type="text/javascript">
	$(document).ready(function(){
	    $("#myTab a").click(function(e){
	    	e.preventDefault();
	    	$(this).tab('show');
	    });
	    $('.show-modal').click(function(){
	    	$('#myModal').modal('show');
	 	});  
		$('.hide-modal').click(function(){
	    	$('#myModal').modal('hide');
	 	}); 
	});
</script>


