<style type="text/css">
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
</style>
<div class="bs-example">
    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
              aria-hidden="true">&times;</button>
            <h4 class="modal-title">Login </h4>
          </div>
          <div class="modal-body">
            <form  action="/admin/" method="post" id="login-form" class="form-inline" role="form">{% csrf_token %}	
	            <center>
				    <div class="form-group inner-addon left-addon">
				    <i class="glyphicon glyphicon-user"></i>
				      <input type="text" class="form-control" id="email" placeholder="Username">
				    </div>
				    <div class="form-group inner-addon left-addon">
		          	  <i class="glyphicon glyphicon-lock"></i>
				      <input type="password" class="form-control" id="pwd" placeholder="Enter password">
				    </div>
			    </center>
			      <br />
		          <div class="modal-footer">
		            <input class="btn btn-success" type="submit" value="Connexion" id="submit">
		            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
		          </div>
			  </form>
			  
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
