<div id="sectionB" class="tab-pane fade">
<h2 class="sub-header">Tableau des enregistrements pluviometrique</h2>
<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Departement</th>
          <th>Commune</th>
          <th>Date</th>
          <th>Quantite de pluie</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nord</td>
          <td>Cap-Haitien</td>
          <td>30/09/2015</td>
          <td>1,001</td>
        </tr>
        <tr>
          <td>Ouest</td>
          <td>Delmas</td>
          <td>30/09/2015</td>
          <td>3.1</td>
        </tr>
        <tr>
          <td>Sud</td>
          <td>Camp-Perrin</td>
          <td>30/09/2015</td>
          <td>6.01</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>