<div id="sectionA" class="tab-pane fade in active">
        <h2 class="sub-header">Tableau des enregistrements pluviom&eacute;triques</h2>
        <div class="table-responsive" id="tablo">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Departement</th>
                  <th>Commune</th>
                  <th>Date</th>
                  <th>Quantit&eacute; de pluie moyenne</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
        </div>

        <div class="panel-group submen">
            <div class="panel panel-default">
                <a class="list-group-item" data-toggle="collapse" href="#dep1">
                    Departement
                </a>
                <div class="panel-collapse collapse" id="dep1">
                    <div class="panel-body">
                        <a href="#" class="list-group-item">Nord</a>
                        <a href="#" class="list-group-item">Sud</a>
                        <a href="#" class="list-group-item">Est</a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                    <a class="list-group-item" data-toggle="collapse" href="#com1">
                    Commune
                     </a>
                    <div class="panel-collapse collapse" id="com1">
                    <div class="panel-body">
                        <a href="#" class="list-group-item">1</a>
                        <a href="#" class="list-group-item">2</a>
                        <a href="#" class="list-group-item">3</a>
                    </div>
            </div>
        </div>
</div>
    </div>
