{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
		<title>Rapport</title>
		<link rel="stylesheet" type="text/css" href="{% static "public/bootstrap/dist/css/bootstrap.min.css" %}">


		<link rel="stylesheet" type="text/css" href="{% static "public/css.css" %}">


		<script src="{% static "public/bootstrap/dist/js/Chart.js" %}"></script>


    	<script src="{% static "public/jquery/jquery-1.11.3.min.js" %}"></script>

		<script src="{% static "public/bootstrap/dist/js/bootstrap.min.js" %}"></script>

		<script src="{% static "public/bootstrap/js/graphe.js" %}"></script>

		<script type="text/javascript">
			$(document).ready(function(){
			    $("#myTab a").click(function(e){
			    	e.preventDefault();
			    	$(this).tab('show');
			    });
			});
		</script>
	</head>
<body>
    <!--===================================Menu Principal=======================================================-->
	    <nav class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/ihaiti">CNSA</a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	            <ul class="nav navbar-nav">
	                <li class="active"><a href="/public">Accueil</a></li>
	                <li><a href="#about">Pluviometrie</a></li>
	                <li><a href="/rapport">Marche</a></li>
	            </ul>
	          <form class="navbar-form navbar-right">
	            <div class="form-group">
	              <input type="text" placeholder="Email" class="form-control">
	            </div>
	            <div class="form-group">
	              <input type="password" placeholder="Password" class="form-control">
	            </div>
	            <button type="submit" class="btn btn-success">Sign in</button>
	          </form>
	        </div>
	      </div>
	    </nav>
    <!--===================================Menu Principal=======================================================-->
        <section class="jumbotron">
            <div class="container ">
            	<div class="row">
            		<br /><br /><br /><br />
            		<div class="col-lg-12 obj" >
						<img class="" src="{% static "public/img/cnsalogo.png" %}" />
						<p>
							Nous mettons a la disposition du public des donnees fiables sur la quantite de pluie et egalement l'etat de la disponibilite de la nourriture dans le pays.
						</p>
					</div>
					<br /><br /><br /><br />
	            	<div class="col-lg-6">
				            <a href="/rapport/pluie" class="btn btn-default btn btn-info btn-lg"><span class="glyphicon glyphicon-stats">&nbsp;</span>Donnees Pluviometrique</a>
	            	</div>
	            	<div class="col-lg-6">
				            <a class="btn btn-default btn btn-info btn-lg"><span class="glyphicon glyphicon-stats">&nbsp;</span>Donnees Prix de marche</a>
	            	</div>

            	</div>
            </div>
            <br />
        </section>

        <footer class="pied">
			<p>CNSA 2015</p>
		</footer>
</body>
</html>