{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		{% include "public/include/head.html" %}
		<script src="{% static "public/leaflet/leaflet.js" %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static "public/leaflet/leaflet.css" %}">
        <link rel="stylesheet" href="{% static "public/leaflet/markers/leaflet.awesome-markers.css" %}">
        <script src="{% static "public/leaflet/markers/leaflet.awesome-markers.min.js" %}"></script>
	</head>

	<body>

	<style>
		#Map {
		width: 100%;
		min-height: 500px;
		}

        .awesome-marker i {
        font-size: 12px !important;
        margin-top: 8px;
    }

	</style>
		<!--===================================Menu Principal=======================================================-->
	   {% include "public/include/menu.html" %}

 <div id="Map">


 </div>



    {% include "public/include/footer.html" %}
	<script>
	$('document').ready(function(){





		var map = L.map('Map').setView([18.834610, -72.288237], 8);

		var osm = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {});

		var cartoCdn = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {});

		cartoCdn.addTo(map);

		loadStations(map);



	});

	function loadStations(map) {
		$.ajax({
  			method: "GET",
  			type: 'json',
  			url: "/rapport/json_map/",
  			success : function(data) {
				dataLen = data.stations_lst.length;

				for(var i=0; i < dataLen; i++){

				    var basicIcon = L.icon({
                    iconUrl: '{% static "public/leaflet/markers/check.png" %}',

                    });

                    html= "<h4>"+data.stations_lst[i]['nomStation']+"</h4>";
                    html += "<h6>Type de station</h6>";
                    html += "<input type='checkbox' checked='checked'> Pluviométrique : "+data.stations_lst[i]['quantitePluie']+" mm<br>";
                    html += "<input type='checkbox'> Limnimétrique : -<br>";
                    html += "<input type='checkbox'> Thermométrique : -<br>";

					var marker = L.marker([ data.stations_lst[i]['latitude'], data.stations_lst[i]['longitude'] ], {icon : basicIcon}).addTo(map);
					marker.bindPopup(html);




				}


  			}
		})

	}




	</script>
	</body>
</html>