{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
            <title>Rapport</title>
            <link rel="stylesheet" type="text/css" href="{% static "public/bootstrap/dist/css/bootstrap.min.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "public/css.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "public/demo.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "public/footer-basic-centered.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "public/leaflet/leaflet.css" %}">
            <link rel="stylesheet" href="{% static "public/leaflet/markers/leaflet.awesome-markers.css" %}">
            <script src="{% static "public/bootstrap/dist/js/Chart.js" %}"></script>
            <!--<script src="{% static "bootstrap/dist/css/bootstrap-theme.min.css" %}"></script>-->
            <script src="{% static "public/jquery/jquery-1.11.3.min.js" %}"></script>
            <script src="{% static "public/bootstrap/dist/js/bootstrap.min.js" %}"></script>
            <script src="{% static "public/jquery/datamaking.js" %}"></script>
            <script src="{% static "public/bootstrap/js/graphe.js" %}"></script>
            <script src="{% static "public/leaflet/leaflet.js" %}"></script>

            <script src="{% static "public/leaflet/markers/leaflet.awesome-markers.min.js" %}"></script>
            <script type="text/javascript">
                $(document).ready(function(){
                    $("#myTab a").click(function(e){
                        e.preventDefault();
                        $(this).tab('show');
                    });
                    $('.show-modal').click(function(){
                        $('#myModal').modal('show');
                    });
                    $('.hide-modal').click(function(){
                        $('#myModal').modal('hide');
                    });
                });
            </script>
            <style type="text/css">
                .vcenter {
                    margin-top: 7px;
                    margin-bottom: 7px;
                }
                /* enable absolute positioning */
                .inner-addon {
                    position: relative;
                }

                /* style icon */
                .inner-addon .glyphicon {
                  position: absolute;
                  padding: 10px;
                  pointer-events: none;
                }

                /* align icon */
                .left-addon .glyphicon  { left:  0px;}
                .right-addon .glyphicon { right: 0px;}

                /* add padding  */
                .left-addon input  { padding-left:  30px; }
                .right-addon input { padding-right: 30px; }
                #Map {
		        width: 640px;
                min-height: 350px;
                }

                .awesome-marker i {
                    font-size: 12px !important;
                    margin-top: 8px;
                }
            </style>

    </head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <center>
              <img class="navbar-brand" src="{% static "public/img/logoMenu.png" %}">
               <a class="navbar-brand" href="http://www.cnsa509.org/" target="_blank"> CNSA</a>
              </center>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Accueil</a></li>
                    <li><a href="/rapport/pluviometrie/">Pluviom&eacute;trie</a></li>
                    <li><a href="#">March&eacute;</a></li>
                </ul>
                <!-- Button HTML (to Trigger Modal) -->
                <a href="/admin/" class="vcenter btn nav-form btn-success navbar-right">ADMIN</a>
                <!-- <button type="submit" class="vcenter btn nav-form btn-success show-modal navbar-right">Sign in </button>-->
            </div>
          </div>
    </nav>

    <div class="container-fluid">
	      <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                  <ul class="nav nav-sidebar">
                    <li class="active">
                        <a href="#bloc1">Aper&ccedil;u<span class="sr-only">(current)</span></a>
                    </li>
                    <li><a href="#bloc2">Rapports</a></li>
                    <li><a href="#bloc3">Export</a></li>
                  </ul>
                </div>
                  <div id="lesblocs">
                          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="bloc1">

                            <div class="bs-example">
                                <ul class="nav nav-tabs" id="myTab">
                                    <li class="active"><a href="#sectionA">Graphe</a></li>
                                    <li><a href="#sectionB">Tableau</a></li>
                                    <li><a href="#section">Carte</a></li>
                                </ul>
                                <!--Limit-->

                    <div class="bs-example">
                        <!-- Modal HTML -->
                        <div id="myModal" class="modal fade">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                  aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Login </h4>
                              </div>
                              <div class="modal-body">
                                <form  action="/admin/" method="post" id="login-form" class="form-inline" role="form">{% csrf_token %}
                                    <center>
                                        <div class="form-group inner-addon left-addon">
                                        <i class="glyphicon glyphicon-user"></i>
                                          <input type="text" class="form-control" id="email" placeholder="Username">
                                        </div>
                                        <div class="form-group inner-addon left-addon">
                                          <i class="glyphicon glyphicon-lock"></i>
                                          <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                                        </div>
                                    </center>
                                      <br />
                                      <div class="modal-footer">
                                        <input class="btn btn-success" type="submit" value="Connexion" id="submit">
                                        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                                      </div>
                                  </form>

                              </div>
                            </div>
                            <!-- /.modal-content -->
                          </div>
                          <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                      </div>                                <!--Limit-->

                                <div class="tab-content">
                                    <div id="sectionA" class="tab-pane fade in active">
                                            <h2 class="sub-header">Graphe des donn&eacute;es pluviom&eacute;triques enregistr&eacute;es</h2>
                                            <p><strong>Emplacement</strong>:(Nom Commune / departement)</p>
                                            <div class="table-responsive">
                                                <canvas id="canvas" height="450" width="750"></canvas>
                                                <div class="panel-group submen">
                                                <div class="panel panel-default">
                                                    <a class="list-group-item" data-toggle="collapse" href="#dep">
                                                        Departement
                                                    </a>
                                                    <div class="panel-collapse collapse" id="dep">
                                                        <div class="panel-body">
                                                            <a href="#" class="list-group-item">Nord</a>
                                                            <a href="#" class="list-group-item">Sud</a>
                                                            <a href="#" class="list-group-item">Est</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                        <a class="list-group-item" data-toggle="collapse" href="#com">
                                                        Commune
                                                         </a>
                                                        <div class="panel-collapse collapse" id="com">
                                                        <div class="panel-body">
                                                            <a href="#" class="list-group-item">1</a>
                                                            <a href="#" class="list-group-item">2</a>
                                                            <a href="#" class="list-group-item">3</a>
                                                        </div>
                                                </div>
                                                </div>
                                            </div>
                                            </div>


                                        </div>
                                    <!--Limit-->
                                        <div id="sectionB" class="tab-pane fade">
                            <h2 class="sub-header">Tableau des enregistrements pluviom&eacute;triques</h2>
                            <div class="table-responsive" id="tablo">
                                <table class="table table-striped">
                                  <thead>
                                    <tr>
                                      <th>D&eacute;partements</th>
                                      <th>Commune</th>
                                      <th>Date</th>
                                      <th>Quantit&eacute; de pluie moyenne</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  </tbody>
                                </table>
                            </div>

                            <div class="panel-group submen">
                                <div class="panel panel-default">
                                    <a class="list-group-item" data-toggle="collapse" href="#dep1">
                                        D&eacute;partements
                                    </a>
                                    <div class="panel-collapse collapse" id="dep1">
                                        <div class="panel-body">
                                            <a href="#" class="list-group-item">Nord</a>
                                            <a href="#" class="list-group-item">Sud</a>
                                            <a href="#" class="list-group-item">Est</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                        <a class="list-group-item" data-toggle="collapse" href="#com1">
                                        Communes
                                         </a>
                                        <div class="panel-collapse collapse" id="com1">
                                        <div class="panel-body">
                                            <a href="#" class="list-group-item">1</a>
                                            <a href="#" class="list-group-item">2</a>
                                            <a href="#" class="list-group-item">3</a>
                                        </div>
                                </div>
                            </div>
                    </div>
                        </div>
                                    <!--Limit-->

                                    <div id="section" class="tab-pane fade">
                                            <h2 class="sub-header">Carte des enregistrements pluviom&eacute;triques</h2>
                                            <div class="table-responsive" id="tablo">
                                                <div id="Map"></div>

                                            </div>
                                            <div class="panel-group submen">
                                                <div class="panel panel-default">
                                                    <a class="list-group-item" data-toggle="collapse" href="#dep2">
                                                        D&eacute;partements
                                                    </a>
                                                    <div class="panel-collapse collapse" id="dep2">
                                                        <div class="panel-body">
                                                            <a href="#" class="list-group-item">Nord</a>
                                                            <a href="#" class="list-group-item">Sud</a>
                                                            <a href="#" class="list-group-item">Est</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                        <a class="list-group-item" data-toggle="collapse" href="#com2">
                                                        Communes
                                                         </a>
                                                        <div class="panel-collapse collapse" id="com2">
                                                        <div class="panel-body">
                                                            <a href="#" class="list-group-item">1</a>
                                                            <a href="#" class="list-group-item">2</a>
                                                            <a href="#" class="list-group-item">3</a>
                                                        </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main hidenSubMenuContent" id="bloc2">
                            <div class="jumbotron">
                                <h3>Rapports</h3>
                                <p>Documents autoris&eacute;s</p>
                            </div>
                        </div>
                        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main hidenSubMenuContent" id="bloc3">
                            <div class="jumbotron">
                                <h3>Exports</h3>
                                <p>Documents autoris&eacute;s</p>
                            </div>
                        </div>
                  </div>
          </div>

    </div>

</body>
<script>
	$('document').ready(function(){





		var map = L.map('Map').setView([18.834610, -72.288237], 2);

		var osm = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {});

		var cartoCdn = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {});

		cartoCdn.addTo(map);

		loadStations(map);



	});

	function loadStations(map) {
		$.ajax({
  			method: "GET",
  			type: 'json',
  			url: "/rapport/json_map/",
  			success : function(data) {
				dataLen = data.stations_lst.length;

				for(var i=0; i < dataLen; i++){

				    var basicIcon = L.icon({
                    iconUrl: '{% static "public/leaflet/markers/check.png" %}',

                    });

                    html= "<h4>"+data.stations_lst[i]['nomStation']+"</h4>";
                    html += "<h6>Type de station</h6>";
                    html += "<input readonly='readonly' type='checkbox' checked='checked'> Pluviométrique : "+data.stations_lst[i]['qt']+" mm<br>";
                    html += "<input readonly='readonly' type='checkbox'> Limnimétrique : -<br>";
                    html += "<input readonly='readonly' type='checkbox'> Thermométrique : -<br>";

					var marker = L.marker([ data.stations_lst[i]['latitude'], data.stations_lst[i]['longitude'] ], {icon : basicIcon}).addTo(map);
					marker.bindPopup(html);




				}


  			}
		})

	}




	</script>
</html>