{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		{% include "public/include/head.html" %}
	</head>

	<body>
		<!--===================================Menu Principal=======================================================-->
	   {% include "public/include/menu.html" %}

 

	    <div class="container-fluid">
	      <div class="row">
	        <div class="col-sm-3 col-md-2 sidebar">
	          <ul class="nav nav-sidebar">
	            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
	            <li><a href="#">Reports</a></li>
	            <li><a href="#">Analytics</a></li>
	            <li><a href="#">Export</a></li>
	          </ul>
	        </div>
	        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

				<div class="bs-example">
		            <ul class="nav nav-tabs" id="myTab">
		                <li class="active"><a href="#sectionA">Graphe</a></li>
		                <li><a href="#sectionB">Tableau</a></li>
		                <li><a href="#section">Carte</a></li>
		            </ul>
		            {% include "public/include/modal_body.html" %}
		            <div class="tab-content">
		                {% include "public/include/graphe.html" %}
		                {% include "public/include/tableau.html" %}
		                {% include "public/include/carte.html" %}
		                
		        	</div>
	            </div>
	        </div>
	      </div>
	    </div>

    {% include "public/include/footer.html" %}
	</body>
</html>